# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.ipynb_checkpoints/

# Results & big artifacts (reproducible)
result/*.csv
result/figures/
*.png
*.pdf

# OS/editor
.DS_Store
.idea/
.vscode/
